/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-msg {
    background-color: rgb(43, 139, 43);
    color: #FFF;
}

.error-msg {
    background-color: rgb(194, 41, 41);
    color: #FFF;
}