.card {
    width: 50vw;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 0.6);  
    }
    
.title {
        text-align: center;
        margin-bottom: 30px;
    }
    
.bloco {
        margin: 10px 15px;
    }
    
 .btn {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }